<div class="login-container" *ngIf="!active">
  <app-login></app-login>
</div>


<div class="" *ngIf="active">

  <!-- this div covers the space for the header when its fixed at top and doesnt have its own height on the page -->
  <div class="header-space"></div>

  <!-- the view includes menu and the outlet -->
  <div class="view-page">
      <div class="side-menu custom-scrollbar">
          <app-side-menu></app-side-menu>
      </div>

      <!-- the actual screen where content is routed -->
      <div class="screen-content" style="flex-grow: 1;">
          <router-outlet></router-outlet>
      </div>

      <!-- this imaginary div is for the layout, makes router content in the center -->
      <div></div>
  </div>

</div>
